/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* ----- BODY & MAIN ----*/
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&display=swap');
body {font-family: 'Archivo', sans-serif;}

/* ----- HEADER ---------*/
#top-header .siteName {
  font-size: 40px;
  font-weight: bold;
}

#top-header .siteName a {
  text-decoration: none;
  color: #1381b4;
}

#top-header div {
  display: inline;
  float: right;
}

#top-header div a {
  text-decoration: none;
  color: #000000;
}

/* ----- NAVIGATION -----*/
nav {
  margin-top: 1rem;
  background-color: #000000; 
}

nav ul {
  list-style: none; 
  padding: 0; 
  margin: 0; 
  display: flex; 
}

nav li {
  flex: 1; 
  text-align: center; 
}

nav a {
  display: block; 
  padding: 15px; 
  text-decoration: none;
  color: white; 
}

/* Style for hover effect */
nav a:hover {
  background-color: #ffffff34;
}

/* ----- BODY -----------*/

/* hero */
.hero {
  position: relative;
  border-style: none; 
  overflow: hidden;
  min-height: 4rem;
  margin: 10px 0;
  padding: 0;
  color: #1381b4;
}

div.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

div.action-call h2.bold {
  margin: 0;
  font-size: medium;
}

div.action-call p {margin-top: .5rem;}

div.action-call {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 43%;
  background-color: #ffffffde;
  margin: 0;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
}

div.action-call button.hero-button {
  border-radius: 5px;
  padding: .3rem;
  border: none;
  color: #fff;
  background-color: #10709c;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
}

div.action-call button.hero-button:hover {
  background-color: #106891;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}

/* Delorean Upgrades */
section.upgrades-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  gap: 20px 8px;
  grid-template-areas: 
    "up-title up-title"
    ". ."
    ". .";
}

#up-title {
  grid-area: up-title;
  margin-bottom: 0;
}

div.up-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  background-color: #10709c;
  border-radius: 5px;
  box-shadow: 0 8px 8px 0 #0000004d;
}

.upgrades-grid div {
  text-align: center;
}

.upgrades-grid div a {
  text-decoration: none;
  font-weight: bold;
  color: #10709c;
}

.upgrades-grid div a:hover {
  color: #0d628a; 
  text-shadow: #0000004d;
}


/* CLASSIFICATION GRID */
ul#inv-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0;
  padding: 0 2rem;
}

ul#inv-display li {
  list-style: none;
  margin: 1rem 2rem;
  padding: 1rem 0;
  width: 200px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}
ul#inv-display li a {margin: auto 0;}

ul#inv-display li .namePrice {
  margin-top: auto; 
  padding: 0 5px;
  height: 145px;
}

.namePrice h2 a {
  text-decoration: none;
  color: #1381b4;
}

/* Car View */
div#car-view {
  display: flex;
  flex-wrap: wrap;
}

img#car-pic {
  width: 100%; 
  max-width: 450px;
  margin-bottom: 1rem; 
}

div#car-info {
  flex: 1; 
  margin-left: 1rem; 
}

div#car-info p {
  margin-top: 0;
  margin-bottom: 0;
  padding: .5rem;
}

div#car-info #price, div#car-info #color {
  background-color: #6666662d;
}

/* Flash Message */
p.flash-message {color: #b32121;}

/* Login & Register View */
div#login, div#register, div#add-classification {
  padding: 1rem;
  margin: auto;
  max-width: 80%;
  background-color: #10709c;
  border-radius: 5px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
}

div#login form label, div#register form label, div#add-classification form label{
  color: #fff;
  font-weight: bold;
}

div#add-classification form span {
  display: block;
  margin: .5rem 0
}

div#login form input, div#register form input, div#add-classification form input {
  margin: .5rem 0 1rem 0;
  padding: .5rem;
  width: 100%;
  display: inline-block;
  border-radius: 5px;
  border: none;
}

div#login button, div#register button, div#add-classification button{
  width: 100%;
  margin: 2.5rem 0 1rem 0;
  padding: .3rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
  background:linear-gradient( to bottom, #bcc6cc, #eee, #bcc6cc);
}

div#login button:hover, div#register button:hover, div#add-classification button:hover{
  background:linear-gradient( to bottom, #adb7bd, #ebebeb, #aeb8be);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}

div#login p, div#register p {
  color: #fff;
  text-align: center;
}
div#login p a, div#register p a {
  color: #fff; 
  font-weight: bold;
}


/* MANAGEMENT VIEW */
div#mgmt-menu a {
  display: block;
  padding: .8rem 0;
}


/* ----- FOOTER -----*/

footer {
  margin-top: 2rem;
}



/* ------------ L A R G E   V I E W ------------ */
@media only screen and (min-width: 64rem) {
  /* ----- BODY ----*/
  body {
    background-image: url(/images/site/small_check.jpg);
    background-repeat: repeat;
  }

  /* ----- MAIN ----*/
  main {
    margin: 2rem auto;
    padding: .5rem;
    width: 85%;
    max-width: 1000px;
    border: 4px solid #10709c;
    background-color: #fff;
    border-radius: 5px;
  }

  /* Hero Call */
.hero { font-size: large;}

  div.hero img {
    width: 80%;
    margin: 0 auto;
  }

  div.action-call {
    position: absolute;
    top: 25%;
    left: 10%;
    max-width: 200px;
  }
  

  /* Delorean Upgrades */
  .home-content {
    justify-items: center;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 20px; 
    grid-template-areas: 
      "upgrades-grid reviews"; 
  }
  .reviews {grid-area: reviews;}

  .up-img {width: 170px;}

  /* Car View */
  img#car-pic {
    max-width: 45%; /* Allow stretching in large views */
  }

  div#login, div#register, div#add-classification {
    max-width: 40%;
  }

}
