<%- contentFor('body') %>

<h1><%= title %></h1>

<!-- Flash messages -->
<% Object.keys(flash).forEach(function(type) { %>
  <% flash[type].forEach(function(message) { %>
    <p class="flash-message"><%= message %></p>
  <% }); %>
<% }); %>

<div id="mgmt-menu">
    <a href="/mgmt/add-classification" title="Click here to add a new classification">Add New Classification</a> 
    <a href="/mgmt/add-inventory" title="Click here to add a new car to inventory">Add New Inventory</a>   
</div>