<%- contentFor('body') %>

<h1><%= title %></h1>

<!-- Flash message -->
<% if (typeof errors !== 'undefined' && Array.isArray(errors) && errors.length > 0) { %>
  <% errors.forEach(function(error) { %>
    <p class="flash-message"><%= error.msg %></p>
  <% }); %>
<% } %>

<div id="mgmt-menu">
    <a href="/mgmt/add-classification" title="Click here to add a new classification">Add New Classification</a> 
    <a href="/mgmt/add-inventory" title="Click here to add a new car to inventory">Add New Inventory</a>   
</div>